* {
    padding: 0;
    margin: 0;
}

#root, html {
    box-sizing: border-box;
}

.bold {
    font-size: 25px;
    font-family: Ravie, 'sans-serif';
    font-style: italic;
}

.shadow-card {
    width: 450px;
    background: white;
    box-shadow: -3px 1px 6px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    position: relative;
    flex-direction: column;

}

.edge-label {
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

.edge-label h2 {
    padding: 10px 15px;
    background: green;
    border-radius: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in;
}

.edge-label h2:hover {
    opacity: 0.5;
}

.edge-label h2:last-child {
    background: orange;
}

.user-authenticate {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.login {
    width: 100%;
    height: 100% !important;
    left: 300%;
    position: absolute;
    transition: .5s all ease-in-out;
}

.login.show {
    left: 0;
    position: relative;
}

.register {
    width: 100%;
    height: 100% !important;
    left: 300%;
    position: absolute;
    transition: .5s all ease-in-out;
}

.register.show {
    left: 0;
    position: relative;
}

.row-list {
    display: flex;
    justify-content: center;
}

.fixed-column {
    display: flex;
    position: relative;
    flex-basis: 30%;
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    overflow: hidden;

}

.long-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.long-column h6 {
    width: 100%;
    text-align: center;
    background: orange;
}

.list-items {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
}

.list-items ul {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.list-items ul li {
    list-style: none;
    border-bottom: 2px solid grey;
    width: 100%;
    font-weight: bolder;
    padding: 50px 10px;
    cursor: pointer;
    font-size: 22px;
    transition: all .2s ease-in-out;
    background: linear-gradient(to right, rgba(0, 230, 64, 1), orange);
}

.list-items ul li a {
    color: white;
    width: 100%;
}

.list-items ul li:last-child {
    border-bottom: none;
}

.list-items ul li:hover {
    background: green;
}

.list-items ul li i {
    margin-right: 20px;
    font-weight: bold;
    font-size: 22px;
}

.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    padding: 10px;
    text-align: center;
    background: orange;
    display: flex;
    justify-content: center;
    /*box-shadow: 1px 1px 6px  rgba(0, 0, 0, 0.5);*/
    z-index: 0;
    margin-bottom: 10px;
}

.header h5 {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.todo-filter {
    display: flex;
    align-items: center;
    margin: 5px;
}

.todo-filter h5 {
    flex: 0.2;
    padding: 2px;
    margin: 5px;
    font-size: 19px;
    font-weight: bolder;
}

.todo-filter .completed {
    flex: 0.3;
    margin: 5px;
}

.todo-filter .category {
    flex: 0.3;
    margin-left: 5px;
}

.todo-table {
    width: 100%;
    padding: 10px;
    display: flex;
}

.todo-table table {
    width: 100%;
}

.todo-table table th {
    padding: 10px;
    background: orange;
    font-weight: bolder;
    font-size: 19px;
    text-align: center;
}

.todo-table table tr:nth-child(even){
    background: rgba(0, 0, 0, 0.1);
}
.todo-table table td {
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
}

.todo-table table td input[type='checkbox']{
    font-size: 70px;
    width: 50px;
    border: 2px solid orange;
}

.todo-table table td i{
    margin-right: 10px;
}

.todo-table table td:first-child {
    font-weight: bolder;
}

.todo-create {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.todo-create h5 {
    padding: 15px;
    background: orange;
    z-index: 1;
    text-align: center;
}

.create-form {
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}

.create-form form label {
    width: 100%;
    font-weight: bolder;
    margin-top: 10px;
}

.share-todo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.share-todo h5 {
    padding: 15px;
    width: 100%;
    background: orange;
    z-index: 1;
    text-align: center;
}

.todo-list-share, .todo-listing {
    width: 100%;
    display: flex;
    padding: 10px;
}

.todo-listing table {
    width: 100%;
    border-collapse: collapse;
}

.todo-listing table th {
    text-transform: uppercase;
    font-weight: bolder;
}

.todo-listing table th, td {
    text-align: center;
}

.todo-listing table td input {
    padding: 5px;
}

.todo-listing table tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.2);
}

.todo-listing table td .fa {
    margin-right: 5px;
}

.todo-logo {
    flex-basis: 10%;
    margin-top: 40px;
    font-size: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-logo .logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.5);
}

.todo-logo .logo i {
    transform: translateY(50%);
}

.todo-detail {
    flex: 0.5;
    margin-top: 40px;
    width: 100%;
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-detail h4{
    text-transform: uppercase;
    font-weight: bolder;
}

.spinner{
    background: url('https://acegif.com/wp-content/uploads/loading-4.gif') rgba(0, 0, 0, 0.5) 50% 50% no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-size: 20%;
}

.category-create{
    width:100%;
    display: flex;
    flex-direction: column;
}

.category-create h5{
    padding: 10px;
    width: 100%;
    background: orange;
    z-index: 1;
    text-align: center;
}

.category-create  .category-form{
    width: 50%;
    margin: 0 auto;
}

.todo-update{
    width: 40%;
    margin: 60px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -1px -1px  4px rgba(0, 0, 0, 0.5);
}
.todo-update h5{
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
}

.todo-update .update-form{
    padding: 15px;
}

.notification-list{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.notification-list h5{
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
    background: orange;
    z-index: 1;
}

.notify-me{
    padding: 15px;
    width: 60%;
    margin: 0 auto;
}
.notify-me ul {
    padding: 15px;
    background: rgba(245, 171, 53, 1);
    display: flex;
    justify-content: center;
}

.notify-me ul li{
    font-size: 22px;
    list-style: none;
    margin-top: 5px;
    transition: all .2s ease-in-out;
}

.notify-me ul li a{
    color: white;
}